<!-- Begin: Content -->
<section id="content" class="animated fadeIn">
     <!-- -->
    <!-- Begin: section content for table -->
    <div class="row" ng-show="!showForm">
        <div class="col-lg-12">
            <div class="panel panel-visible">
                <!-- Panel Heading -->
                <div class="panel-heading">
                    <div class="panel-title hidden-xs">
                        <span class="glyphicon glyphicon-tasks"></span>{{modelName}}
                    </div>
                </div>
                <!-- Panel Body -->
                <div class="panel-body pn">
                    @RenderSection("tableContent")
                </div>
                <!-- Panel Footer -->
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6" align="left">
                            <button class="btn btn-sm btn-primary" type="button" ng-click="actionForm('Create')">Create</button>
                        </div>
                        <div class="col-md-6" align="right">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-primary" type="button" ng-click="loadData(currentPage - 1)" ng-disabled="!isPrevPage">Previous</button>
                                <button class="btn btn-default" type="button" ng-disabled="true">{{ currentPage }}</button>
                                <button class="btn btn-primary" type="button" ng-click="loadData(currentPage + 1)" ng-disabled="!isNextPage">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end: .tray-center -->
    <!-- Begin: section content for Form -->
    <!-- Begin: admin ui tab  -->


    <div class="row" ng-show="showForm">
        <div class="col-md-12">
            <div class="panel mb25 mt5">
                <div class="panel-heading">
                    <span class="panel-title"><i class="glyphicon glyphicon-tasks"></i>{{actionMode + " " + modelName}}</span>
                    <ul class="nav panel-tabs-border panel-tabs">
                        <li ng-class="{active : selectedTab === tab}"
                            ng-click="setSelectedTab(tab)"
                            ng-repeat="tab in tabPages">
                            <a href="{{modelhref}}" data-toggle="tab">{{tab}}</a>
                        </li>
                    </ul>
                </div>

                <div class="panel-body">
                    @RenderSection("tab1Content", false)
                    @RenderSection("tab2Content", false)
                    @RenderSection("tab3Content", false)
                    @RenderSection("tab4Content", false)
                    @RenderSection("tab5Content", false)
                </div>
                <!-- Panel Footer -->
                <div ng-show="showFooter">
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6" align="left">
                                <button class="btn btn-sm btn-primary" type="submit" ng-click="closeForm()">Back</button>
                            </div>
                            <div class="col-md-6" align="right">
                                <button class="btn btn-sm btn-primary" type="submit" ng-click="submit()"
                                        ng-show="actionMode != 'View'">
                                    {{submitButtonText}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>

</section>



@RenderBody()

<!-- Context Menu Content -->
 @RenderPage("~/Views/Shared/_ContextMenuCustomer.cshtml")

