<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>Kunzad - Transport Management System</title>
    <meta name="description" content="Kunzad - Transport Management System">
    <meta name="author" content="Dandy Sembrano">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font CSS (Via CDN)
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,300">  -->
    <!-- Font CSS (Via local) -->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />

    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/plugins/datatables/media/css/dataTables.bootstrap.css">

    <!-- Datatables Editor CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/plugins/datatables/extensions/Editor/css/dataTables.editor.css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/plugins/magnific/magnific-popup.css">

    <!-- Required Plugin CSS
    <link rel="stylesheet" type="text/css" href="~/assets/js/utility/highlight/styles/googlecode.css"> -->
    <!-- Required Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/plugins/daterange/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/plugins/colorpicker/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/plugins/tagmanager/tagmanager.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/skin/default_skin/css/theme.css">

    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/admin-tools/admin-forms/css/admin-forms.css">

    <!-- Admin Modals CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/admin-tools/admin-plugins/admin-modal/adminmodal.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">

    <!-- ui-grId css-->
    <link href="~/vendor/plugins/uigrid/css/ui-grid.css" rel="stylesheet" />

    <!-- Site CSS / Overrides -->
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

    <!-- Customize Table -->
    <link rel="stylesheet" type="text/css" href="~/Content/customize-table.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="kunzadApp" ng-controller="RootController">

    @RenderPage("_ThemePreview.cshtml")

    <!-- Start: Main -->
    <div id="main" class="container-fluid">

        @RenderPage("_Header.cshtml")
        @RenderPage("_SideBar.cshtml")

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            @* @@RenderPage("_TopBar.cshtml") *@
            @RenderBody()
        </section>
        <!-- End: Content-Wrapper -->
        @* @RenderPage("_SideBarRight.cshtml") *@

    </div>
    <div id="spinnerTarget"></div>
    <!-- End: Main -->
    <!-- BEGIN: PAGE SCRIPTS -->
    <!-- jQuery -->
    <script type="text/javascript" src="~/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

    <!-- signalR library -->
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/assets/js/bootstrap/bootstrap.min.js"></script>

    <!-- Admin UI-->
    <script src="~/assets/js/utility/utility.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/demo.js"></script>
    <script src="~/vendor/plugins/magnific/jquery.magnific-popup.js"></script>
    <script src="~/vendor/plugins/moment/moment.js"></script>
    <script src="~/vendor/plugins/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/vendor/plugins/priceFormat/price_format.js"></script>

    <!-- Angular-->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-touch.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/localforage.min.js"></script>
    <script src="~/Scripts/angular-localForage.js"></script>
    <script src="~/Scripts/ng-context-menu.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="~/vendor/plugins/uigrid/js/ui-grid.js"></script>
    <script src="~/vendor/plugins/uigrid/js/csv.js"></script>
    <script src="~/vendor/plugins/uigrid/js/pdfmake.js"></script>
    <script src="~/vendor/plugins/uigrid/js/vfs_fonts.js"></script>
    <script src="~/Scripts/app/app.js"></script>

    <!-- Angular Directives, Controllers, etc. -->
    <script type="text/javascript" src="~/Scripts/filter/filter.js"></script>
    <script type="text/javascript" src="~/Scripts/service/restAPI.js"></script>
    <script type="text/javascript" src="~/Scripts/directive/scrollableContainer.js"></script>
    <script type="text/javascript" src="~/Scripts/directive/dataFiltering.js"></script>
    <script type="text/javascript" src="~/Scripts/directive/addressModal.js"></script>
    <script type="text/javascript" src="~/Scripts/directive/vesselVoyageModal.js"></script>
    <script type="text/javascript" src="~/Scripts/directive/dataGrid1.js"></script>
    <script type="text/javascript" src="~/Scripts/directive/dataGrid2.js"></script>
    <script type="text/javascript" src="~/Scripts/directive/dataGrid3.js"></script>
    <script type="text/javascript" src="~/Scripts/directive/ngEnter.js"></script>
    <script type="text/javascript" src="~/Scripts/app/booking-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/seafreight-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/customer-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/customergroup-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/courier-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/airline-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/trucker-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/trucking-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/trucktype-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/industry-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/businessunittype-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/shipmenttype-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/servicecategory-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/contactnotype-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/driver-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/country-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/shippinglines-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/businessunit-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/serviceablearea-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/airfreight-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/truckingwb-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/courierdelivery-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/consolidation-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/documentation-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/seafreightloading-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/seafreightarrival-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/airfreightloading-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/airfreightarrival-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/pod-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/deliveryexception-ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/deliveryexceptionbatching-ctrl.js"></script>
    

    <script type="text/javascript">
        jQuery(document).ready(function () {

            "use strict";

            // Init Theme Core
            Core.init();

            // Init Theme Core
            Demo.init();
        });
    </script>
    <!-- END: PAGE SCRIPTS -->

</body>

</html>
